body{
  background: hsl(0 0% 70%);
  width: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 23%;
  margin-top: 0;
}
.todolist{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 3rem;
  color: white;
}
button{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
  margin-left: 40px;
}
.add-button:hover{
  background-color: hsl(125, 47%, 34%);
}
.delete-button{
  background-color: hsl(0, 47%, 54%);
}
.delete-button:hover{
  background-color: hsl(0, 47%, 34%);
}
.move-button{
  background-color: hsl(257, 47%, 54%);
}
.move-button:hover{
  background-color: hsl(257, 47%, 34%);
}
input[type='text']{
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, o.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  background: hsl(0, 0%, 95%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}